h1{
    color: #9f83bb;
    display: $d-flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 20vh;
    padding-bottom: 5vh;
    font-family: 'Montserrat', sans-serif;
}

h2{
    color: $claro;
    font-family: 'Outfit', sans-serif;
    font-size: 10px;
    padding: 10px;
}


h3{
    display: $d-flex;
    justify-content: center;
}

.div--info{
    display: $d-flex;
    justify-content: center;
    align-content: space-between;
    color: $claro;
}

.section__img-carrusell{
    width: $width * 2;
    display: $d-flex;
    margin-top: 30px;
}

.section__img--diseño{
    width:($width - 10) / 2;
    height: $height + 5vh;
    display: $d-flex;
    justify-content: center;
    transform: translate(700px,50px);
    margin-top: 20px;
}

.main__img--diseño{
    width: $width - 5;
    height: $height + 30;
    display: $d-flex;
    justify-content: center;
    transform: translate(350px,50px);
}

.info--promo{
    color: $intermedio;
    font-family: 'Outfit', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}

.title{
    color: $claro;
    display: $d-flex;
    justify-content: center;
}


.btn{
    border: 1px;
    background-color: $intermedio;
    font-size: 16px;
}

.card{
    margin: 10px;
}

.productos{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 10vh;
}


    .producto-1{
        display: flex;
        flex-grow: 0.5;
        flex-direction: column;
        align-items: center;
    }

    .producto-img{
        object-fit: contain;
        object-position: center;
    }


    .producto-detalle{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
    }

    .producto-titulo{
        color: $oscuro;
        font-size: 16px;
    }

    .producto-precio{
        color: $claro;
        font-size: 21px;
    }


    .hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }

  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }



@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px; } 
    
}


@media (max-width: 990px){
    .div--info{
        font-size: 5px;
    }
}